@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(218, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 600px;
  text-align: center;
  border: 5px solid #161111;
  background-color: black;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(80px, auto);
  margin: 10px;
}

input[type="text"] {
  height: 75px;
  width: 575px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 30px;
  color: white;
  background-color: transparent;
  text-align: right;
  letter-spacing: 1.4px;
  font-weight: 700;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
}

#equal {
  grid-column: 3/5;
  grid-row: 5;
}

button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(172, 166, 166);
  color: whitesmoke;
  font-size: 20px;
}

.buttonColor {
  background-color: rgba(88, 228, 60, 0.582);
}
